@model List<SwitchYourHome.Models.Ads.AdsIndexModel>
@{
    ViewBag.Title = "List";
}

<h2 class="text-center"> Page @ViewBag.CurrentPage</h2>

<div class="text-center">
    @using (Html.BeginForm("List", "Ads", FormMethod.Get))
    {
        <div class="text-center mt-60">
            <input type="text" class="form-control" style="display:inline-block" name="Search" value="@Request.QueryString["search"] " placeholder="Insert your desire location" />
            <input type="submit" value="Search Locations" class="btn btn-default" />
        </div>
    }
</div>

<div class="container">
    <div class="row">
        @foreach (var ad in Model)
        {
            <div class="col-md-6">
                <h2>
                    @Html.ActionLink(@ad.Title, "Details", "Ads", new { @id = ad.Id }, null)
                </h2>

                <p>
                    <a class="btn btn-primary" href="~/Ads/Details/@ad.Id">See more</a>
                    <img class="img-responsive" src="@ad.ImageUrl" />
                </p>

                <button type="button" class="btn btn-default btn-group-lg">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> @ad.Accommodates
                </button>
                <button type="button" class="btn btn-default btn-group-lg">
                    <span class="glyphicon glyphicon-bed" aria-hidden="true"></span>  @ad.Bedrooms rooms
                </button>
                <button type="button" class="btn btn-default btn-group-lg">
                    <img width="18" height="18" src="http://img.freepik.com/free-icon/toilet_318-112930.jpg?size=338&ext=jpg" /> @ad.Bathrooms baths
                </button>

                <hr />
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>  @ad.Location
                </button>

            </div>
        }
    </div>
</div>
<hr />

@{ 
    var currentUser = Request.QueryString["user"];
    var currentSearch = Request.QueryString["search"];
    var currentSearchQuery = currentSearch != null ? "&search=" + currentSearch : string.Empty;
    var currentUserQuery = currentUser != null ? "&user=" + currentUser : string.Empty;
}

<p class="text-center mt-60">
    <a href="/Ads/List?page=@(ViewBag.CurrentPage-1)@currentUserQuery@currentSearchQuery" class="btn btn-primary @(ViewBag.CurrentPage==1 ? "disabled" : string.Empty)"> Previous<< </a>
    <a href="/Ads/List?page=@(ViewBag.CurrentPage+1)@currentUserQuery@currentSearchQuery" class="btn btn-primary @(!Model.Any()||Model.Count()<4 ? "disabled" : string.Empty)"> Next >></a>
</p>
